@model Position

<form method="post">
    <h2>Edit author</h2>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <button type="submit">Update</button>
</form>