@model IEnumerable<Position>

<h3>Position</h3>

@foreach (var obj in Model) 
{
    <ul>
        <li>Id: @obj.Id</li>
        <li>Name: @obj.Name</li>
    </ul>
    <hr />
}
<a asp-controller="position" asp-action="add">Add new position</a>