
<h1>@ViewBag.Title</h1>

<p>Witamy na stronie głównej</p>

<p>
    <ul>
        <li><a asp-controller="author" asp-action="index">Authors</a></li>
        <li><a asp-controller="category" asp-action="index">Categories</a></li>
        <li><a asp-controller="tag" asp-action="index">Tags</a></li>
        <li><a asp-controller="league" asp-action="index">League</a></li>
    </ul>
</p>